*{
    background-color:#313E4E;
    font-family: "Lithos Pro Regular", sans-serif;
}
.header {
    background: none;
    overflow: hidden;
    height: 80px;
}
.main-nav{
        float: centre;
        list-style: none;
        text-align: center;
}

.main-nav li {
    margin-right: 30px;
    line-height: 80px;
    color:bisque;
    font-size: 15px;
}
.main-nav li a{
    float: left;
    margin-right: 30px;
    line-height: 80px;
    color:bisque;
    font-size: 15px;
    padding-left: 30px;
}
.main-nav a:hover{
    color: rgb(34, 232, 247);
    text-decoration: underline;
    font-size: 16px;
   
}

.content{
    color: bisque;
    text-align: center;
}

.avatar img{
    max-width: 150px;
    padding-top: 10px;
    margin:10px 10px 10px 10px;
}


  