*{
    background-color:#313E4E;
    font-family: "Amatic SC"     
        
    }
.header {
    background: none;
    overflow: hidden;
    height: 80px;
}
.main-nav{
        float: centre;
        list-style: none;
        text-align: center;
}

.main-nav li {
    margin-right: 30px;
    line-height: 80px;
    color:bisque;
    
}
.main-nav li a{
    float: left;
    margin-right: 30px;
    line-height: 80px;
    color:bisque;
    font-size: 22px;
    padding-left: 30px;
   
}
.main-nav a:hover{
    color: rgb(34, 232, 247);
    text-decoration: underline;  
 
}

.seperate-text a:hover{
    color: rgb(34, 232, 247);
    text-decoration: underline; 
}

.content{
    color: bisque;
    text-align: center;
    font-size: 35px;
}

.content-blog {
    color: bisque;
    text-align: left;
    font-size: 20px;

}
.first-title{
    padding-bottom: 0;
    margin-bottom: 0;
}
.link-text{
    color: bisque;
    text-align: left;
    font-size: 25px; 
}


.avatar img{
    max-width: 150px;
    padding-top: 10px;
    margin:10px 10px 10px 10px;
}
.blog-img{
    max-width: 300px;
    margin:0px 0px 10px 0px;
}
.text-font{
    color: whitesmoke;
}

.footer{
    color: bisque;
    text-align: center;
    font-size: 15px;
    width:100%;
    padding-top: 20px;
}
.mySlides{
    max-width: 150px;
}

.read-font{
    color: whitesmoke;
    font-family: Muli;
    font-size: 12px;
    text-align: justify;
}

.seperate-text{
    color: bisque;
    font-size: 14px;
    font-style: strong;
}
.bottom-image{
    float:center;
    padding-left: 10%;
    max-width: auto;
}
#blog-window{
    height: 350px;
    margin: 10px 0px;
    padding: 10px;
    overflow: auto;
}
.scrollbar-dusty-grass::-webkit-scrollbar {
    width: 12px;
    background-color: #313E4E; }
    
.scrollbar-dusty-grass::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-image: -webkit-linear-gradient(330deg,  rgb(251, 252, 253) 0%, #313E4E 100%);
        background-image: linear-gradient(120deg, rgb(251, 252, 253) 0%, #313E4E 100%); }